<div class="container">

<div class="row">
  <div class="col-md-12">
    <h2>{{book.name}}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12 pull-right">
  foto
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="list-group">
          <div>Autor: {{book.name}}</div>
          <div>Počet stran: {{book.pages}}</div>
          <div>Dostupnost: {{book.delivery_msg}}</div>
          <div>Žánr: <span ng-repeat="genre in book.genres">{{genre.text}}</span></div>
          <div>Klíče: <span ng-repeat="key in book.keywords">{{key.text}}</span></div>
        </div>
        <ul class="list-inline pull-right">
          <li><a href ng-click="$basket.add(book,1)"><i class="fa fa-shopping-cart"></i> Koupit</a></li>
          <li><a href ng-click="favourite(book._id)"><i class="fa fa-star"></i> Oblíbit</a></li>
          <li><a href ng-click="whish(book._id)"><i class="fa fa-bullhorn"></i> Přát si</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="well">
        {{book.description}}
    </div>
  </div>
</div>
<pre>
{{book|json}}
</pre>
</div>