<div class="container">
<div class="row">
<div class="col-md-12">
<form class="form-horizontal" ng-controller="BookCreateCtrl">
  <fieldset>

  <!-- Form Name -->
  <legend>Kniha</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Jméno">Jméno knihy</label>
    <div class="col-md-4">
    <input id="Jméno" name="Jméno" type="text" placeholder="Jméno knihy" class="form-control input-md" required="" ng-model="book.name">
    <span class="help-block">Zadejte název publikace</span>
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="author">Autor</label>
    <div class="col-md-4">
    <input id="author" name="author" type="text" placeholder="Jméno autora" class="form-control input-md" required="" ng-model="book.author">
    <span class="help-block">Jméno a příjmení autora</span>
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="pages">Počet stran</label>
    <div class="col-md-4">
    <input id="pages" name="pages" type="number" placeholder="Počet stran" class="form-control input-md" required="" ng-model="book.pages">
    </div>
  </div>

  <!-- File Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="picture">Obrázek knihy</label>
    <div class="col-md-4">
      <div flow-init  flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-files-submitted="$flow.upload()">
          <div class="thumbnail" ng-hide="$flow.files.length">
            <img src="http://www.placehold.it/200x309/EFEFEF/AAAAAA" />
          </div>
          <div class="thumbnail" ng-show="$flow.files.length">
            <img flow-img="$flow.files[0]" />
          </div>
          <div>
            <div href="#" class="btn btn-primary" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</div>
            <div href="#" class="btn btn-warning" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</div>
            <div href="#" class="btn btn-danger" ng-show="$flow.files.length"
               ng-click="$flow.cancel()">
              Remove
            </div>
          </div>
          <p>
            PNG,GIF,JPG
          </p>
        </div>
      <!-- <input id="picture" name="picture" class="input-file" type="file"> -->
    </div>
  </div>

  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="genres">Žánry</label>
    <div class="col-md-4">
      <tags-input ng-model="book.genres">

      </tags-input>
            <!-- <tags-input ng-model="book.genres">
            <auto-complete source="loadGenres($query)"></auto-complete>
      </tags-input> -->
    </div>
  </div>

  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="keywords">Klíčová slova</label>
    <div class="col-md-4">
          <tags-input ng-model="book.keywords">
          </tags-input>
<!--       <tags-input ng-model="book.keywords">
            <auto-complete source="loadKeywords($query)"></auto-complete>
      </tags-input> -->
    </div>
  </div>

  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="description">Popis</label>
    <div class="col-md-4">
      <textarea class="form-control" id="description" name="description" ng-model="book.description"></textarea>
    </div>
  </div>

  <!-- Multiple Checkboxes -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="settings">Nastavení</label>
    <div class="col-md-4">
    <div class="checkbox">
      <label for="settings-0">
        <input type="checkbox" name="settings" id="settings-0" value="0" ng-model="book.public">
        Uveřejnit na webu
      </label>
  	</div>
    <div class="checkbox">
      <label for="settings-1">
        <input type="checkbox" name="settings" id="settings-1" value="0" ng-model="book.preorder">
        Umožnost předobjednávky
      </label>
  	</div>
    <div class="checkbox">
      <label for="settings-2">
        <input type="checkbox" name="settings" id="settings-2" value="0" ng-model="book.avaible">
        Umožnit koupi
      </label>
  	</div>
    <div class="checkbox">
      <label for="settings-3">
        <input type="checkbox" name="settings" id="settings-3" value="0" ng-model="book.out_of_order"> 
        Již se neprodává
      </label>
  	</div>
    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="selectbasic">Select Basic</label>
    <div class="col-md-4">
      <select id="selectbasic" name="selectbasic" class="form-control" ng-model="book.delivery_msg">
        <option value="Již se neprodává">Již se neprodává</option>
        <option value="Nedostupná">Nedostupná</option>
        <option value="Předprodej">Předprodej</option>
        <option value="Na objednávku">Na objednávku</option>
        <option value="Do 7 dnů">Do 7 dnů</option>
        <option value="Do 2 dnů">Do 2 dnů</option>
        <option value="Skladem">Skladem</option>
        <option value="Pouze na pobočce">Pouze na pobočce</option>
      </select>
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="released">Vydána</label>
    <div class="col-md-4">
      <input type="text" size="10" class="form-control" id="released" name="released" ng-model="book.released" data-autoclose="1" placeholder="Datum" bs-datepicker>
      <span class="help-block">Datum vydání knihy</span>
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
      <label class="col-md-4 control-label" for="publicatedFrom"><i class="fa fa-calendar"></i> Povolení koupě</label><br>
      <div class="col-md-4">
        <input type="text" size="10" class="form-control" id="publicatedFrom" name="publicatedFrom" ng-model="book.publicatedFrom" data-autoclose="1" placeholder="Datum" bs-datepicker>
        <input type="text" size="8" class="form-control" ng-model="book.publicatedFrom" data-autoclose="1" placeholder="Čas" bs-timepicker>
      </div>
  </div>
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="save"></label>
    <div class="col-md-4">
      <button id="save" name="save" class="btn btn-warning" ng-click="create(book)">Uložit</button>
    </div>
  </div>

  </fieldset>
<pre>
{{book|json}}
</pre>
</form>
</div>
</div>
</div>