<div class="container">
<div clas="col-md-12">
  <div class="btn btn-primary" ui-sref="user.create">NEW</div>
  <div ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Zrušit seřazení</div>
  <div ng-click="tableParams.filter({})" class="btn btn-default pull-right">Zrušit filter</div>
      <table ng-table="tableParams" show-filter="true" class="table">
          <tr ng-repeat="user in $data">
              <td data-title="'Název'" filter="{ 'name': 'text' }" sortable="'name'">
                  {{user.name}}
              </td>
              <td data-title="'Příjmení'" filter="{ 'surname': 'text' }" sortable="'surname'">
                  {{user.surname}}
              </td>
              <td data-title="'Upravit'">
                <div class="btn btn-info" ui-sref="user.edit({id:user._id})"><i class="fa fa-pencil-square-o"></i> Upravit</div>
              </td>
              <td data-title="'Smazat'">
                <div class="btn btn-danger" ng-click="remove(user._id,$index)"><i class="fa fa-times"></i> Smazat</div>
              </td>
          </tr>
      </table>
    </div>
    </div>